<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/tabs.css" />

    <!-- Load JavaScript locally or from CDN based on environment variable -->
    {% if environment == 'local' %}
        <!-- Load JavaScript files locally -->
        <script src="/path/to/local/file.js"></script>
        <script src="/path/to/another/local/file.js"></script>
    {% else %}
        <!-- Load JavaScript files from CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/library/1.0.0/library.min.js"></script>
        <script src="https://cdn.anothercdn.com/library/2.0.0/library.min.js"></script>
    {% endif %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.0/tablesort.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static\javascript\colresizable\colResizable-1.6.min.js"></script>
    <script src="static\javascript\custom\tabs.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="header-container">
            <h1>My Deadline</h1>
            <div id="farmStatusConsole">
                <h2>Farm Status</h2>
                <ul id="farmStatusList">
                    <!-- Farm statuses will be populated here -->
                    {% for status, result in farmStatuses.items() %}
                    <li>
                        <div id="{{ status|lower|replace(' ', '_') }}">
                            <span id="{{ status|lower|replace(' ', '_') }}_status">{{ status }}</span> - 
                            <span id="{{ status|lower|replace(' ', '_') }}_result">{{ result }}</span>
                        </div>
                    </li>
                    {% endfor %}            
                </ul>
            </div>
        </div>
        
        <div class="tabs-container">        
            <!-- Tabs -->
            <div class="tabs">
                <button class="tablink" onclick="openTab(event, 'jobs')" id="defaultOpen">Jobs</button>
                <button class="tablink" onclick="openTab(event, 'other')">Other</button>
            </div>
        
            <!-- Tab content -->
            <div id="jobs" class="tabcontent">
                <!-- Header wrapper for jobs tab -->
                <div id="jobs-table-header-content">
                    <!-- Button to toggle filters visibility -->
                    <button id="toggleFilters" onclick="toggleFilters()">Toggle Filters</button>
                    
                        
                    <!-- Search Box -->
                    <div class="search">
                        <input type="text" id="searchInput" placeholder="Search...">
                        <button onclick="searchTable()">Search</button>
                    </div>
                </div>
                <!-- Filters and Search Box -->
                <div class="filters-container" id="filtersContainer">
                    <!-- Filters -->
                    <div class="filters">
                        {% for key, values in sortableColumns.items() %}
                            <label>{{ key }}</label>
                            <br>
                            {% for value in values %}
                                <label>
                                    <input type="checkbox" name="filter" value="{{ key }}|{{ value }}"> {{ value }}
                                </label><br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                
                <table id="sortableTable" cellpadding="5">
                    <thead>
                        <tr>
                            {% for key in jobs[0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="jobsTable">
                        {% for job in jobs %}
                        <tr>
                            {% for key, value in job.items()%}
                            <td data-column="{{ key }}">{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>

    </div> <!-- #wrapper ends here -->
    <!-- Context menu -->
    <div id="contextMenu" class="context-menu">
        <ul class="context-menu__items">
            <li id="editAction" class="context-menu__item">Edit</li>
            <li id="deleteAction" class="context-menu__item">Delete</li>
        </ul>
    </div>
    <div id="footer">
        Refresh time: <span id="refresh_time">5 seconds</span>
    </div>

    <!-- Script for Search -->
    <script>
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("sortableTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    var cell = td[j];
                    if (cell) {
                        txtValue = cell.textContent || cell.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break; // Break out of inner loop, move to next row
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>
    <!-- Script to toggle filters visibility -->
    <script>
        // Function to toggle filters visibility and apply filtering
    function toggleFilters() {
        var filtersContainer = document.getElementById("filtersContainer");
        filtersContainer.classList.toggle("filters-show");

        // Apply filtering
        applyFilters();
    }

    // Function to apply filters and filter the table
    function applyFilters() {
        // Get all selected checkboxes
        var checkboxes = document.querySelectorAll('.filters input[type="checkbox"]:checked');
        
        // Get table rows
        var rows = document.querySelectorAll('#jobsTable tr');
        
        // Iterate over each row
        rows.forEach(function(row) {
            var showRow = true; // Flag to determine if the row should be shown
            
            // Iterate over each selected checkbox
            checkboxes.forEach(function(checkbox) {
                var [key, value] = checkbox.value.split('|'); // Split value into key and value
                
                // Check if the row contains the selected filter value
                var cell = row.querySelector('td[data-column="' + key + '"]');
                if (cell && cell.textContent.trim() !== value) {
                    showRow = false; // Hide row if it doesn't match any selected filter
                }
            });
            
            // Show or hide row based on filtering result
            row.style.display = showRow ? '' : 'none';
        });
    }

    // Add event listeners to checkboxes to apply filters when checked
    document.querySelectorAll('.filters input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', applyFilters);
    });
    </script>

    <script src="static\javascript\custom\contextMenu.js"></script>
<script>
    
    // Function to update data without reloading the page
    function updateData() {
        // Make an AJAX request to Flask backend to get updated data
        fetch('/update_data')
        .then(response => response.json())
        .then(data => {
            // Update farm statuses
            // Example assuming you have elements with IDs for each farm status
            document.getElementById('farm_health_result').innerText = data['Farm Health'];
            document.getElementById('overall_farm_result').innerText = data['Overall Farm'];
            document.getElementById('comp_farm_result').innerText = data['Comp Farm'];
            document.getElementById('refresh_time').innerText = data['Time Since Last Update'];
           // Update jobs table
           updateJobsTable(data['Jobs']);
        })
        .catch(error => console.error('Error updating data:', error));
    }

    // Function to update the jobs table
    function updateJobsTable(jobs) {
        var table = document.getElementById('sortableTable');

        // Refresh table sorting
        var sort = new Tablesort(document.getElementById('sortableTable'));


        // Iterate over the jobs data and modify existing rows or add new rows
        jobs.forEach(job => {
            var existingRow = findExistingRow(table, job);
            if (existingRow) {
                // Modify existing row
                modifyRow(existingRow, job);
            } else {
                // Add new row
                addNewRow(tbody, job);
            }
        });

        sort.refresh();
    }

    // Function to find an existing row in the table based on job ID
    function findExistingRow(tbody, job) {
        // Iterate over the rows in the table body
        for (var i = 0; i < tbody.rows.length; i++) {
            var row = tbody.rows[i];
            // Get the job ID from the first column of the row
            var existingJobID = row.cells[0].innerText; // Assuming the ID is in the first column

            // Compare the existing job ID with the ID of the current job
            if (existingJobID.includes(job["ID"])) {
                // If the IDs match, return the existing row
                return row;
            }
        }
        // If no matching row is found, return null
        return null;
    }


    // Function to modify an existing row if contents are different
    function modifyRow(row, job) {
        var cells = row.getElementsByTagName('td');
        var jobValues = Object.values(job);
        
            // Check if the contents are different from the new values
        var modified = false;
        for (var i = 0; i < cells.length; i++) {
            if (cells[i].textContent !== jobValues[i]) {
                modified = true;
                break;
            }
        }
        // Update the row only if contents are different
        if (modified) {
            for (var i = 0; i < cells.length; i++) {
                cells[i].textContent = jobValues[i];
            }
        }
    }

    // Function to add a new row
    function addNewRow(tbody, job) {
        var row = document.createElement('tr');
        var jobValues = Object.values(job);
        jobValues.forEach(value => {
            var cell = document.createElement('td');
            cell.textContent = value;
            row.appendChild(cell);
        });
        tbody.appendChild(row);
    }

    // Update data every 5 seconds (adjust as needed)
    setInterval(updateData, 1000);
    
    // Initial update when the page loads
    updateData();
</script>

    <script>
        // Initialize TableSort plugin
        new Tablesort(document.getElementById('sortableTable'));

        // Initialize resizableColumns plugin on document ready
        $(document).ready(function() {
            var onSampleResized = function(e){  
                var table = $(e.currentTarget); //reference to the resized table
            };  
            
            $("table").colResizable({
                liveDrag:true,
                postbackSafe:true,
                partialRefresh:true,
                gripInnerHtml:"<div class='grip'></div>", 
                draggingClass:"dragging", 
                onResize:onSampleResized
            });    
        });
    </script>
</body>
</html>
